<div class="container">
    
    <div class="image">
        <img src = "{{url+'get-image/'+project.image}}" *ngIf="project.image"/>
    </div>
    <div class="data">
        <h1>{{project.name}}</h1>
        <h4>{{project.description}}</h4>
        <p>{{project.category}}</p>
        <p>{{project.langs}}</p>

        <P>
            <a href="#" class="btn btn-info">Editar</a>
            <a (click)="deleteProject(project._id)" class="btn btn-outline-danger">Eliminar</a>
        </P>


    </div>

</div>






