<div class="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>

<article class="about">
    <h2>Sobre mí</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem, ipsam. Veniam, cumque. Fugiat esse dolorum iste porro. Iusto nisi est cumque laboriosam necessitatibus! Nemo facere ratione voluptatibus quas illum sed! Vero suscipit perferendis optio illo, temporibus placeat, fugit laboriosam iusto veniam praesentium repellendus illum similique corporis explicabo, nisi asperiores numquam perspiciatis beatae excepturi! Distinctio a molestiae dolorum quis laborum, atque rem. Illo temporibus quia aliquam odit ex eligendi cupiditate atque repellat. Deleniti ducimus hic expedita corrupti repudiandae animi dignissimos molestias sequi. Reprehenderit, laboriosam qui, fugit libero maxime autem tempore doloremque ipsa placeat repudiandae rerum at quis neque. At, soluta esse?
    </p>
</article>