/*Sección con formulario*/

.container{
    padding: 50px;
    padding-top: 10px;

}

.container h2{
    display: block;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

form{
    width: 50%;
}

form label{
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form textarea
{
    width: 80%;
    padding: 5px;
}

/*
form button,
form input[type="submit"]{
    display: block;
    font-size: 17px;
    padding: 5px;
    margin-top: 15px;
}
*/

form button,
form input[type="submit"]{
    width: 80%;
    background-color: #48C9B0;
}

form input[disabled]{
    opacity: 0.4;
    cursor: not-allowed;
}

form button:hover,
form input[type="submit"]:hover{
    width: 80%;
    background-color: #17a2b8;
}

form input[disabled]{
    background-color: #ccc;
}

.form-error{
    color: red;
}